@import 'normalize.css';
@import './base.css';


body,
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

h1 {
  margin: 28px 0;
  font-size: 32px;
  line-height: 36px;
}

.container {
  max-width: 1064px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 32px;
}

@media (width <= 768px) {
  .container {
    padding: 0 20px;

  }
}


@media (width <= 500px) {
  h1 {
    font-size: 21px;
  }
}


